<h1> Add Team</h1>

<form action="/teams" method="post">
  <label for="teamname">Team Name</label>
  <input id="teamname" name="teamname" type="text">
  <label for="industry">Industry</label>
  <input id="industry" name="industry" type="text">
  <button class="btn btn-primary" type="submit">Add Contact</button>
</form>
